{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Social Networking Carpool</title>
	<meta charset="utf-8" />

	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'personal/css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-0">
                    <h1>Social Network Carpool<a href="http://b">   Craigslist API </a></h1>
                    <p class="lead">This is a demo for our tutorial showing you how to add a custom styled Google maps into a Bootstrap page.</p>
                </div><!-- /.8 -->
            </div> <!-- /.row-->
	</div> <!-- /.container-->

	<div class="row">
		<div class="col-sm-20">
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a href="#">Hooooome</a></li>
				<li role="presentation"><a href="#">Carpool</a></li>
				<li role="presentation"><a href="#">Events</a></li>
			</ul>
		</div>
	</div>
	<div class='container-fluid'>
			   {% block content %}
			   {% endblock %}
    </div>

	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>	
	
</body>

</html>