{% extends "personal/header.html" %}

{% load staticfiles %}
{% block content %}


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <script src="{% static 'personal/js/custom.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'personal/css/custom.css' %}">

     <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaXa0hQduSjUxxBFeW19u06x8KKCS1IVQ&callback=initMap"
     async defer></script>
    <div id="map">  <!--google maps invoked-->     </div>



        <!--<script type = "text/javascript" src="clientConnection.js"></script>-->
        <!--<script type = "text/javascript" src="convert_field.js"></script>-->
        <!--<script type = "text/javascript" src="crashStation.js"></script>-->
        <!--<script type = "text/javascript" src="getLatLong.js"></script>-->
        <!--<script type = "text/javascript" src="lat-long.js"></script>-->
        <!--<script type = "text/javascript" src="plotCrashSite.js"></script> -->
        <!---->
        
    <!--</body>-->
<!--</html>-->
{% endblock %}